@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body{
  margin: 0;
}

nav div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
}

.navItems{
background-color: #5788e5;
padding: 24px;
color: #e6e6f6;
}

.navItems1{
background-color: #4369b2;
padding: 24px;
color: #e6e6f6;
}

h1{
  margin: 0 auto;
}

.icons{
  display: flex;
  gap: 20px;
}

